<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title></ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button *ngIf="!isAuthenticated" ion-item (click)="openPage(loginPage)">
				Login
			</button>
			<button *ngIf="!isAuthenticated" ion-item (click)="openPage(signupPage)">
				Signup
			</button>
			
			<button *ngIf="isAuthenticated" ion-item (click)="openPage(rootPage)">
				Recipe Book
			</button>
			
			<button *ngIf="isAuthenticated" ion-item (click)="onLogout()">
				Logout
			</button>
			
		</ion-list>
	</ion-content>
</ion-menu>


<ion-nav #content [root]="rootPage"></ion-nav>
