
<ion-header>
	
	<ion-navbar>
		<ion-buttons>
			<button ion-button clear menuToggle><ion-icon name="menu"></ion-icon></button>
		</ion-buttons>
    <ion-title>Shopping List</ion-title>  
</ion-navbar> 

</ion-header>


<ion-content padding>
	

	<form #f="ngForm" novalidate (ngSubmit)="onAddItem(f)">

		<ion-list>
			<ion-list-header>Add Items to Shopping List</ion-list-header>
			<ion-item>
				<ion-label fixed>Ingredient</ion-label>
				<ion-input type="text" name="ingredientName" placeholder="Ex. Milk" required ngModel></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label fixed>Quantity</ion-label>
				<ion-input type="number" name="ingredientQuantity"  placeholder="Ex. 1"required ngModel></ion-input>
			</ion-item>
			
		</ion-list>
		
		<button ion-button type="submit" block color="secondary" [disabled]="!f.valid">Add items</button>

	</form>

	
	

	<ion-list *ngIf="shoppingList.length">
		<ion-list-header>
			Shopping List
		</ion-list-header>
		<ion-item-sliding *ngFor="let item of shoppingList; let i = index">  
			<ion-item >
				<h3>{{item.name}}</h3>
				<p>Quantity: {{item.quantity}}</p>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button icon-only (click)="onDeleteItem(i)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-item-options>
		</ion-item-sliding>
		
	</ion-list>
	<p *ngIf="shoppingList.length === 0">Add items to your shopping list using the form above.</p>
	
</ion-content>
